body {
  background-color:rgba(217, 213, 216, 1.0);
  font-family: sans-serif;
}

blockquote {
 border: 3px solid white;
 border-radius: 20px;
 text-align: center;
 padding: 13px;
}



h1 , p {
  text-align: center;
}


ul , li , h2{
  margin: auto;
  width: 400px;
}



.name {
 font-size: 13px;
}





