

img {
 width: 150px;
 height: 150px;
 margin-left:10px;
 margin-top: 5px;
 float: left;

}


.wrap {
background-color: brown;
width: 700px;
margin-left: 150px;

}


#content {
  width: 500px;
  height: 400px;
  float: right;
}

#time {
color: gray;
margin-left: 10px;


}

a {
  float: right;
}


p {
  margin-left: 10px;

}






